
# Config file and Pycharm project folder
config.ini
todolist

# Ignoring loot files
loot/

# Keeping the structure
!modules/__init__.py
!modules/collector/__init__.py
!modules/core/__init__.py
!modules/evaluators/__init__.py
!modules/inferors/__init__.py

# Excluding logs files but keeping the structure using .gitkeep files
logs/*
!logs/.gitkeep
!logs/collectors/.gitkeep
!logs/core/.gitkeep
!logs/evaluators/.gitkeep
!logs/inferors/.gitkeep

