[COLLECTORS]
GOOGLE_SECONDS_WAITING_BETWEEN_TWO_SCRAPS = 15

LINKEDIN_LOGIN = nicehoneypot@addme.com
LINKEDIN_PASSWD = mysuperdupersecretpassword
LINKEDIN_SECONDS_WAITING_BETWEEN_TWO_SCRAPS = 10

[EVALUATORS]
HUNTERIO_KEY = <key_account>
NEVERBOUNCE_KEY = <key_account>

[INFERORS]