beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
configparser==3.5.0
dnspython==1.15.0
docopt==0.6.2
email-validator==1.0.3
idna==2.6
ipaddr==2.2.0
ipaddress==1.0.19
neverbounce-sdk==4.2.1
pyhunter==0.3
requests==2.18.4
schema==0.6.7
selenium==3.9.0
Unidecode==1.0.22
urllib3==1.22
validate-email==1.3
